.margin-top{margin-top:90px; }

/*word break text*/
.word-break{word-break: break-all}

/*quit search*/
div .search{display: none;}

/*text-img*/

.relative{position: relative; background-color: gray;}

.absolute{position: absolute;background: rgba(0, 0, 0, .6); text-align: center;border-radius: 4px; }

.absolute-tittle{bottom:2%; left: 0; padding: 9px;}

div .absolute-tittle h1{font-size: 22px;  color: rgba(255,255,255,.9); font-weight: 600;}

.absolute-author{ top:2%; left: 2%; padding: 4px 0; }

div .absolute-author a{font-size: 12px; color: white;}

.size-img-main{width: 25px; height: 25px; border-radius: 50%;} 

.absolute-date{top:2%; right: 2%; padding: 4px 0;color: rgba(255,255,255,.9);}

div .absolute-date span{font-size: 10px;}

/*home comments*/

.display-in{display: inline-block;}

.display-in button{padding: 6px 9px;}

.color-date{color:black; font-size: 13px;}

.margin-bottom{margin-bottom: 20px;}

.float{float: right;}

.bottons{margin: 20px 0;}

/*update post*/
.text-center{text-align: center;}

div .modal-header{padding-bottom: 5px}

button .btn{padding: 5px;}

div .modal-body{padding: 25px 35px;}

div .modal-body button {padding: 5px 9px;}



/*comments*/
.well{min-height: 20px; padding: 19px; margin-bottom: 20px; border-radius: 4px; background-color: rgba(162, 149, 149, .2);}

.padding-container{padding: 20px 20px 7px 20px}

.margin-right{margin-right: 20px;}

.size-img{width: 50px; height: 50px; border-radius: 50%;}

.size-font{font-size: 16px;}

.border{border: 1px solid rgba(0,0,0,.2); border-radius: 10px;}

div .media img{display: inline-block;}

div .media-body{max-width: 780px; }

div .media-body h3{font-size: 20px; }

div .media-body small{color:gray;}

.display{display: inline-block;}

.float-right{ background-color: #D9534F; padding: 3px 10px; font-weight: 700; line-height: 1; font-size: 14px; font-style: bold; color: white; border-radius: 15px;}

div .margin-bottom hr{margin-top:0;}




/*media buttons edit and delete, buttons size*/
@media screen and (max-width: 410px)
{
	div .display-in button{font-size:12px; padding: 4px 4px;/*position: absolute; bottom:470px;*/ }

	div .col-lg-9 p{font-size: 16px;}

	div .well button{font-size: 14px; padding: 5px 5px; }

	div .well h4{font-size: 16px; }
}

@media screen and (max-width: 991px)
{
	div .col-lg-9 img.height-img{height: 100%}

	div .card-block{display: none; }
}

/*media img-text*/
@media screen and (max-width: 1000px)
{
	div .absolute-tittle h1{font-size: 22px;}
}

@media screen and (max-width: 768px)
{
	div .absolute-tittle h1{font-size: 22px;}
}

@media screen and (max-width: 544px)
{
	div .col-lg-9 img.height-img{height: 200px}
	
	.padding-container{padding: 10px 20px 2px 20px}

	div .absolute-tittle h1{font-size:22px;  margin: 4px 0;}

	.absolute-tittle{padding: 6px;}

	.absolute-author{padding: 0 2px 2px 2px;}

	div .absolute-author a{font-size: 12px;}

	.size-img-main{width: 22px; height: 22px;} 

	.absolute-date{padding:0;}

	div .absolute-date span{font-size: 11px;}

	.float-right{ margin-top:5px;}

	.font-content{font-size: 15px; }
}

@media screen and (max-width: 417px)
{
	div .absolute-tittle h1{font-size: 21px; margin: 2px 0;}

	.absolute-tittle{padding: 6px;}

	.float-right{ margin-top:5px; font-size: 11px;}
	
	div .media-body button{font-size: 12px;}

}

@media screen and (max-width: 368px)
{
	div .absolute-tittle h1{font-size: 18px; margin: 2px 0;}

	.absolute-tittle{padding: 6px;}
	
	div .absolute-author a{font-size: 9px;}

	div .absolute-date span{font-size: 9px;}

}











