body{
   background-color: #F0F4F7;}
}


/*header*/
.size{font-size: 20px; color: gray;}

.tall-header{padding:0; background-color: #222; margin-bottom:90px;}

nav a {margin-left: 15px;}

nav button{color:white;}

.right{display:inline-block;}

nav.navbar {
    background-color: #293F54}



/*home*/
div .card-primary{background-color: white;}

div .card-primary p {color: black; font-size: 25px; margin: 0; background-color: rgba(255, 255, 255, .8);}

div .card-block{padding: 4px;}

.url-user{background-image: url("../img/user.png"); height: 250px;}

.url-profile{background-image: url("../img/profile.png"); height: 250px;}

.color{background-color: black;}

/*footer*/
footer p{text-align: center;}

.padding{padding-bottom:105px;}


