/*search*/
div .row .search{float: right;}

/*header*/
.tall-header{padding:0; background-color: #222; margin-bottom:40px;}

/*word break text*/
.word-break{word-break: break-all}

nav a {margin-left: 15px;}

nav button{color:white;}

.right{display:inline-block;}

.block{display: block}

nav.navbar {background-color: #293F54;}

.margin-top{margin-top:90px; }

/*home*/
.col-center{
    float: none;
    margin: 0 auto;
}

.padding{padding-bottom: 40px;}

.down{margin-bottom: 25px; border-radius: 6px;}

.tittle{border-bottom: 1px solid #D3E0E9; padding-bottom: 10px; }

.size{font-size: 20px; color: gray;}

.size-small{font-size: 14px; color: gray;}

.display-inline{display: inline-block; margin-right:15px; }

.display{display: inline-block;}

.float-right{ background-color: #D9534F; float: right; padding: 3px 10px; margin-top: 7px; font-weight: 700; line-height: 1; font-size: 14px; font-style: bold; color: white; border-radius: 15px;}

div .row h2 a{text-decoration: none;}


/*sidebar*/
.display{display: inline-block;}

ul .list-unstyled li{display: inline-block;}

div .display li a{text-decoration: none;}

.display-font{display: flex; flex-direction: column; display: inline-block;}


/*footer*/
footer p{text-align: center;}


/*pagination*/

.pagination {display: flex; justify-content: center; align-items: center;}

.pagination p strong{padding: 10px; border-top:1px solid rgba(0,0,0,.2); border-bottom:1px solid rgba(0,0,0,.2); border-left:1px solid rgba(0,0,0,.2); border-right:1px solid rgba(0,0,0,.2); color:#0275d8;}

.pagination p a{text-decoration: none; padding: 10px; border-top:1px solid rgba(0,0,0,.2); border-bottom:1px solid rgba(0,0,0,.2); border-left:1px solid rgba(0,0,0,.2);}

.pagination p a:last-child{border-right:1px solid rgba(0,0,0,.2);}


@media screen and (max-width: 1100px)
{
	div .card h4{font-size: 20px;}
}

@media screen and (max-width: 768px)
{
	div .row .search{float: left; margin-left: 140px;}

	.navbar-header{float: left;}
}

/*header*/

@media screen and (max-width: 550px)
{
	div .row .search{float: left; margin-left: 60px;}

	div .right h1{font-size: 27px; margin-top: 10px;}
}

/*header*/
@media screen and (max-width: 543px)
{
	.text-xs-right{text-align: left!important;}
	
	.right{display: block;}
}

/*media*/
@media screen and (max-width: 430px)
{
	div .right h1{font-size: 27px;}

	h2{font-size: 26px;}

	div .right a.btn{font-size: 15px; padding:4px;}

	.float-right{font-size: 12px; margin: 0 0 4px 0;}

	.size-small{font-size: 10px; margin: 0;}

	.pagination p strong{padding: 5px; font-size:15px;}

	.pagination p a{padding: 5px; font-size:15px;}
}

@media screen and (max-width: 400px)
{
	div .row .search{float: left; margin-left: 10px;}
	
	div .right h1{font-size: 23px;}
}





