.margin-top{margin-top:100px; }

/*new post*/

div .border{border: 1px solid #293F54; border-radius: 10px }

div .row h2{text-align: center; font-size: 25px; color: #3b5c86; font-family: 'Patua One', cursive; }

div .border legend{display: inline; font-size: 17px;}

div .row{display: flex; flex-direction: column; align-items: center;}

div .row input.form-control{padding: 0;}

div .btn-group label{font-size: 13px; padding: 5px 7px;}

div .padding-container h2{border-bottom: 1px solid rgba(27, 35, 43, .1)}

div input{height: 25px;}

div .margin-bottom select{ -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 6px; background-color: #fff; border: 1px solid #d2c5c5; padding: 3px 10px;}

div .margin-bottom  option{font-size: 16px; padding: 0 12px; }

div .margin-bottom  option:hover{background-color: rgba(41,63,84,.7); color:white;}

.margin-category{margin-right: 25px;}

.margin-bottom{margin-bottom: 12px; padding-left: 0;}

.margin-right{margin-right: 55px;}

.padding-top{padding-top: 15px;}

.padding-container{padding: 10px 40px 27px 40px;}

.width{width: 60%}

.size-text{width: 95%; height: 140px;}

.display-inline-block{display: inline-block;}

.flex{display: flex; flex-wrap: wrap;}

div .col-xs-12 .color{background-color: #293F54; border-color:  #263442; font-size: 13px; padding: 5px 14px; color: white;}

div .col-xs-12 .color:hover{background-color: #32516f}
/*media*/

@media screen and (max-width:700px)
 {
	.size-text{width: 100%; height: 35%}
 }

 @media screen and (max-width:400px)
 {
 	div .margin-bottom select{ padding: 3px 10px; font-size: 14px; }

	div .margin-bottom  option{font-size: 13px;}

	.size-text{width: 100%; height: 50%}

	div input{height: 25px; width: 90%; display: block;}

	.width{width: 90%} 

	.margin-category{margin-right: 10px;}
 }









