body{ background-color: #EAEBEF;}

.margin-top{margin-top:80px; }

.col-center{float: none; margin: 0 auto;}

/*word break text*/
.word-break{word-break: break-all}


/*img-text*/
.relative{position: relative;}

div .row .img-size{min-width: 100%; max-height:280px; }

.position{position: absolute; bottom:14%; left: 8%; background-color: white; padding: 3px;}

.position-name{position: absolute; bottom:20%; right: .2%; background: rgba(0, 0, 0, .6); color: white; text-align: center; font-size: 30px; font-family: 'Patua One', cursive; }

div .row .size-profile{height:150px; width: 240px;}

.display-inline{display: inline-block;}

div .options a{color: #577AA6;}

div .options{background-color: white;}

div .options ul{float: right; font-family: 'Patua One', cursive;}

.line{border-right: 1px solid #d0cdcd; border-left: 1px solid #d0cdcd;}


div .options li{padding: 10px 60px;}

.profile-userbuttons{float: left; margin: 7px 0 0 12px; }


/*overview*/
.margin-container{margin-top: 30px;}

.post-user{background-color: #F7F7F9; text-align: center; font-family: 'Patua One', cursive; color: #577AA6; border: 1px solid rgba(0,0,0,.2);  }

.size-post{height:120px;}

.post{margin: 10px 0 30px 0; /*background-color: red;*/}

div .post-user legend{margin-bottom: 0;}

div .container-style legend{height: 40px;}

.container-style{background-color: white; border: 1px solid rgba(0,0,0,.2); border-radius:5px; display: flex; flex-wrap: wrap; justify-content: flex-start; min-height: 630px;}

.description{font-size: 20px; padding: 10px 30px 0 10px;}

div .caption h3 a{color: #577AA6; font-family: 'Patua One', cursive; text-decoration: none;}

.content{font-size: 16px; padding: 0 30px 20px 10px;}

.position-button{position: absolute; bottom: 0; left: 10%}

.position-delete{position: absolute; bottom: 0; right: 20%;}

.scroll{
  width: 100%;
  height: 630px;
  overflow: scroll;
  overflow-x: hidden;
}


.scroll::-webkit-scrollbar {
      width: 14px; background-color: #f1f1f1;
      border-radius: 200px;
}

.scroll::-webkit-scrollbar-track {
      background-color: white;
} 

.scroll::-webkit-scrollbar-thumb {
      background-color: #efebeb;
}

/*F1F1F1  C1C1C1

::-webkit-scrollbar-corner {
      background-color: black;
}

body {
    scrollbar-face-color: #F1F1F1;
}*/
  
/*setting*/
.settings{ background-color:white; margin: 0 auto; border-radius:5px; display:none; border: 1px solid rgba(0,0,0,.2);  }

div .form-group label, input{margin-bottom: 10px;}

div .form-group select{margin-bottom: 20px;}

.padding-left{padding: 20px 0 20px 100px;}

.block{display: block;}

.min-area{min-height: 35px; background-color: #ECEEEF;}

.margin-bottons{margin-top: 14px;}

div .form-group i.fa-pencil-square-o{color: #0449a0;}

div .form-group button.color{background-color: white; transition: 1s;}

div .form-group button.color:hover{background-color: #577AA6;}

.color:hover .fa-pencil-square-o{color: white;}

div .display-inline button{background-color: #D9534F; font-size: 14px;}


/*modal style*/
div .modal-header h3#lineModalLabel{color: #526379; font-family: 'Patua One', cursive; font-size: 23px;}

div .modal-header span{font-size: 14px;}

div .modal-content{margin-top: 130px;}

div .top-password{margin-top: 40px;}

div .modal-header{padding-bottom: 0; text-align: center;}

div .modal-header i.icon-close{font-size: 25px; color: black;}

div .modal-body label{color:gray; margin-bottom: 2px;}

div .modal-body button{background-color: #428442; padding: 6px 8px; font-size: 15px;}

.input-group{margin-bottom: 8px;}

/*modal message eror*/
.style-span{font-size: 13px; text-align: left; margin-bottom: 2px;}
 


/*input setting*/
@media screen and (max-width: 992px)
{
    .padding-left{padding-left: 0;}

    div .form-group button.btn{padding: 1px 5px; }

    div .display-inline button.btn{padding: 5px;}

    .margin-bottons{margin-top: 14px;}

    .margin-span{margin-bottom: 20px;}

}

/*media options*/
@media screen and (max-width:770px)
{
  .line{border-left: 0;}

  div .options li{padding: 10px 5px;}

  div .form-group button{display: inline-block;}

  .scroll{overflow: hidden; height: 100%}
}

@media screen and (max-width:550px)
{
  div .row .size-profile{height:100px;}

  div .modal-content{margin-top: 80px;}

  div .top-password{margin-top: 20px;}

  div .modal-header h3{font-size: 15px;}
}

@media screen and (max-width:325px)
{
  .post-user{font-size: 20px;}

  .size-boton{font-size: 10px;}

  div .row .size-profile{height:90px;}

  .position-name{font-size: 17px;}

  div .options li{font-size: 13px; padding: 10px; padding-right: 12px;}

  div .modal-header h3#lineModalLabel{font-size: 20px;}

  div .modal-content button.btn{padding: 5px; font-size: 14px;}

  div .form-group label{font-size: 14px;}
}









