/*users*/
.container {

  padding-left: 30px;
  padding-right: 30px;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.border{border: 1px solid #293F54; border-radius: 10px; }

/*.head-table{color: #fff; background-color: #293F54;}
*/

.padding-top{padding-top: 50px; padding-bottom: 30px;}

.padding-bottom{margin-bottom:60px;}

/*table*/

/*	tbody {
	 display: block;
	  height: 40vh;
	  min-height: 200px;
	  overflow-Y:scroll;
	}
	tr {
	 display: block;
	  overflow: hidden;
	}
*/
/*
thead, tbody { display: block; }
tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}*/

tbody, thead tr { display: block; }

tbody {
	height: 40vh;
	min-height: 200px;
	overflow-Y:scroll;
    overflow-x: hidden;
}

thead th {
    width: 160px;
}

tbody td {
    width: 162px;
}

/*media screen*/
@media screen and (min-width: 400px)
{
	
}





