/*users*/
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.border{border: 1px solid gray; border-radius: 10px; }

.padding-top{padding-top: 50px; padding-bottom: 30px;}

.padding-bottom{margin-bottom:60px;}

/*para hacer un scroll pero con auto*/
/*tbody, thead tr { display: block; }

tbody {
	height: 40vh;
	min-height: 200px;
	overflow-Y:scroll;
    overflow-x: hidden;
}*/

thead th {
    width: 160px;
}

tbody td {
    width: 162px;
}

.AreaTablaAdmin-scrollAdmin {
	width: 100%;
	height: 20.6em;
	overflow: auto;
	position: relative;
}








